<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/noEvents.css">
    <title>No Events</title>
</head>
<body>
    <div>
        <h1>
            No events to Display
        </h1>
        <a href="/">Go Back</a>
    </div>
</body>
</html>